.chart rect {
  fill: blueviolet;
  width: 5px;
}

.chart text {
  fill: bl;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
