.bar { 
    fill: steelblue; 
    width: 3px;
}


#tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    background: white;
    border: 0px;
    pointer-events: none;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
  
